.dashboard {
    display: flex;
    padding: 0px;
    width: 100%;
    flex-direction: column;
}

.profile-button {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fd496;
    border-radius: 50%;
}

.profile-button img {
    width: 200%;
    height: 200%;
}

.receipts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receipt {
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 50px;
}

.highlight {
    font-size: 1.5em;
    color: red; /* Or any other color to highlight the latest receipt */
}

.add-receipt-button {
    width: 3vw;
    height: 3vw;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fd496;
    border-radius: 100%;
}