.fPage .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin-bottom: -20px; */
    color: #fcfcf7;
    margin-left: 120px;
    padding-top: 20px;
}


.buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0; /* Add space above and below the buttons */
}

.back-button, .done-button {
    width: 100px;
    height: 50px;
    text-align: center;
}
.back-button {
    margin-left: 20px;
}
.done-button{
    background-color:#4CAF50;
    margin-right: 20px;
}

.fPage {
    background: radial-gradient(circle, #0d0d0d, #5a5959);
}
