@import url('https://fonts.googleapis.com/css2?family=Mukta');


.page {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    
}
.signUpForm
{
    background-color: rgba(255, 255, 255, 1);
    margin: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 2px solid rgb(42, 39, 39);
    border-radius: 25px;
}
.title
{
    color:rgb(18, 46, 46);
    padding:0;
    margin:0;
    font-size: 40px;
}

.inputs {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;    
    padding: 10px 20px;
    margin: 1px 50px;
    font-size: 16px;
    font-weight: bold;
    /* color:#ffffff */
    color: rgb(42, 40, 40, 0.8);
   
}

.signUpForm input {
    padding: 10px 20px;
    margin-bottom: 12px;
    font-size: 16px;
    border-radius: 5px;
    border-color: rgb(42, 40, 40, 0.8);
 
}
.signButton {
    padding: 10px;
    margin: 20px;
    width: 50%;
    background-color:rgb(18, 46, 46);
    color:rgba(255, 255, 255);
}

.visibility {
    background: none;
    border: none;
    position: absolute;
    top: 61%;
    right: 10px;
    width: 8px;
    transform: translateY(-50%);
    transform: translateX(-150%);
    font-size: 16px;
    cursor: pointer;
}

.conVisibility {
    background: none;
    border: none;
    position: absolute;
    top: 71%;
    right: 10px;
    width: 8px;
    transform: translateY(-50%);
    transform: translateX(-150%);
    font-size: 16px;
    cursor: pointer;
}
body 
{
    font-family: 'Mukta';
    background-color:lightsteelblue;
}
