@import url('https://fonts.googleapis.com/css2?family=Mukta');


.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    background: radial-gradient(circle, #efe9e9, #ded9d9);
}

.page .title {
    color: black;
    transform: translateY(120px);
    font-size: 34px;
}
.signUpForm
{
    background-color: rgba(255, 255, 255);
    margin: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    width: 90%;
    border: 2px solid rgb(42, 39, 39);
    border-radius: 25px;
    padding-top: 20px;
}



.inputs {
    display:inline-flex;
    flex-direction: column;
    justify-content: flex-start;    
    padding: 10px 20px;
    margin: 1px 50px;
    font-size: 16px;
    font-weight: bold;
    /* color:#ffffff */
    color: rgb(42, 40, 40, 0.8);
   
}

.signUpForm input {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border-color: rgb(42, 40, 40, 0.8);
 
}
.signButton {
    padding: 10px;
    margin-bottom: 30px;
    width: 50%;
    background-color:rgb(18, 46, 46);
    color:rgba(255, 255, 255);
}

.visibility {
    background-image: url('../../components/visibility.png');
    /* background: none; */
    border: none;
    position: absolute;
    top: 69%;
    /* right: 10px; */
    width: 2px;
    height: 10px;

    transform: translateY(-70%);
    transform: translateX(250px);
    font-size: 16px;
    cursor: pointer;
}

.conVisibility {
    background-image: url('../../components/visibility.png');
    /* background: none; */
    border: none;
    position: absolute;
    top: 77.5%;
    /* right: 10px; */
    width: 2px;
    height: 10px;

    transform: translateY(-70%);
    transform: translateX(250px);
    font-size: 16px;
    cursor: pointer;
}

